.button-dark {

	color: white;
	background-color: $primary-blue!important;
	border-color: $primary-blue!important;
	

}

.button-light {

	color: $secondary-orange!important;
	background-color: white!important;
	border-color: $secondary-orange!important;
}


.button-orange {

	color: white;
	background-color: $secondary-orange!important;;
	border-color: $secondary-orange!important;
}