.allProblems{
    width: 100%;
}
.cardsForProblems{
    background-color: $primary-blue;
    border-radius: 0.25rem;
    height:13rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: $dark-blue;

}
.card-upper{
    padding: 3%;
    text-align: left;
    p{
        color: black;
    }
    h5 {
        color: white!important;
    }
}

.author_icon{
    
    a{
        color:black;
        padding-right: 1%;
    }
    h6{
        padding-left: 70%;
        font-weight: inherit;
    }
}

.main-modal-content{
    padding-top: 2%;
    .col-12{
        input{
            margin: 2% 0 5% 0;
            border-radius: .25rem;
            min-width: 100%;
            min-height: 1.5rem;
        }
        select{
            min-height: 1.5rem;
            margin: 2% 0 5% 0;
            border-radius: .25rem;
            min-width: 100%;
        }
        
    }
    
}
.modal-header{
    color: $dark-blue;
    background-image: url('../../assets/images/logo.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-position: 90%; 
    background-color: rgba(75, 101, 114, 0.05); 
}
#footer_modal{
    background-color: white;
    border-radius: 0.25rem;
    background-color: rgba(75, 101, 114, 0.05); 
}

.align-items-center{
    color: $dark-blue;
}
.modal-title{
    color: $dark-blue!important;
}
