body, html {
  height: 100%;
  position: relative;
}

.button-dark {
  color: white;
  background-color: #344955 !important;
  border-color: #344955 !important;
}

.button-light {
  color: #d66d58 !important;
  background-color: white !important;
  border-color: #d66d58 !important;
}

.button-orange {
  color: white;
  background-color: #d66d58 !important;
  border-color: #d66d58 !important;
}

.content {
  background-image: url("../../assets/images/youth_activism.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.overlay {
  background-color: rgba(52, 73, 85, 0.77);
  width: 100%;
  height: 100%;
  padding-top: 10px;
  z-index: 0;
  border-radius: .25rem;
}

header {
  background-color: transparent;
  text-align: right;
  padding-right: 10%;
  padding-left: 10%;
  z-index: 1;
}
header .logo {
  width: 150px;
  height: 110px;
  display: inline;
  float: left;
  z-index: 1;
  margin-top: -25px;
}
header ul {
  width: 100%;
  margin-bottom: 0;
  margin-top: 1rem;
}
header ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  color: white;
}
header ul li a {
  font-weight: 600;
}
header ul button {
  display: inline;
  font-weight: 600 !important;
  width: 120px;
  height: 40px;
}

.carousel {
  z-index: 1;
  height: 70% !important;
}
.carousel .carousel-inner {
  position: relative;
  text-align: center;
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  height: 100%;
}
.carousel .carousel-inner .carousel-item .carousel_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel .carousel-inner .carousel-item .carousel_content button {
  color: white;
  background-color: #d66d58 !important;
  font-weight: 600 !important;
  border-color: #d66d58 !important;
  width: 130px;
  height: 50px;
}
.carousel .carousel-inner .carousel-item .carousel_content h1 {
  margin-bottom: 30px;
  color: white;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 1;
}

.values {
  height: 20%;
  border-radius: .25rem;
  position: fixed !important;
  bottom: 5 !important;
}
.values .row {
  height: 100%;
}
.values .row .value_card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: .25rem;
  text-align: center;
  z-index: 2;
  position: relative;
  background-color: rgba(75, 101, 114, 0.78);
}
.values .row .value_card .card_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.values .row .value_card .card_content h6 {
  color: white;
}
.values .row .value_card .card_content i {
  color: #d66d58;
}

.content_container {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}
.content_container footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.image_wrapper {
  background-image: url("../../assets/images/youth_activism.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 90%;
}

#login-form, #register-form {
  z-index: 1;
}
#login-form input::-webkit-input-placeholder, #register-form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
#login-form input:-moz-placeholder, #register-form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}
#login-form input::-moz-placeholder, #register-form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}
#login-form input:-ms-input-placeholder, #register-form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}

.content_wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.content_wrapper input {
  border-color: #d66d58;
  background-color: transparent;
}
.content_wrapper p {
  color: white;
  margin-top: 10px;
}
.content_wrapper p a {
  color: #d66d58;
}

#register_form {
  display: none;
}

.content_wrapper_solutions {
  height: 90%;
  width: 100%;
  position: relative;
}
.content_wrapper_solutions .content_solutions {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allProblems {
  top: 40% !important;
  left: 35% !important;
}

.cardsForProblems {
  background-color: rgba(75, 101, 114, 0.78);
  width: 50rem;
  border-radius: 0.25rem;
  height: 10rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #232F34;
}

.card-upper {
  width: 45rem;
  height: 25rem;
  padding: 3%;
  text-align: left;
}
.card-upper p {
  color: #232F34;
}

.author_icon i {
  font-size: 1.5rem;
}
.author_icon a {
  color: #232F34;
  padding-right: 1%;
}
.author_icon h6 {
  padding-left: 70%;
  font-size: 1rem;
  font-weight: inherit;
}

.main-modal-content {
  padding-top: 2%;
}
.main-modal-content .col-12 input {
  margin: 2% 0 5% 0;
  border-radius: .25rem;
  min-width: 100%;
  min-height: 1.5rem;
}
.main-modal-content .col-12 select {
  min-height: 1.5rem;
  margin: 2% 0 5% 0;
  border-radius: .25rem;
  min-width: 100%;
}

.modal-header {
  color: #232F34;
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-position: 90%;
  background-color: rgba(75, 101, 114, 0.05);
}

#footer_modal {
  background-color: white;
  border-radius: 0.25rem;
  background-color: rgba(75, 101, 114, 0.05);
}

.align-items-center {
  color: #232F34;
}

.modal-title {
  color: #232F34 !important;
}
